.hero{
    margin-top: 5px;
    display: flex;
    gap:1em;
    padding: 1.5rem;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh-93.6px);
}
.hero>*{
    flex: 1 1 25em;
}
.hero h1{
   font-weight: 700;
   font-size: clamp(40px,5vw,70px);
   line-height: 1;
}
.hero p{
    font-weight: 500;
    font-size: 30px;
    /* padding: 1em 0; */
}
.hero a{
    font-weight: 700;
    font-size: 20px;
    padding: 0.6em;
    background:linear-gradient(90deg,#345aa4 0%,rgba(98, 22, 212, 0.434)164.26%);
    border-radius: 10px;
    transition: 0.5s;
}

.hero a:hover{
    background-color: #084888;
    color:white;
    font-size: 24px;
    border-radius: 15px;
}

